# Usa este archivo como plantilla para configurar la URL del backend en desarrollo.
# Crea un archivo frontend/.env.local y sobreescribe este valor si es necesario.
REACT_APP_API_URL=http://{tu_ip_local}:4000/
